body /* anything applied within this block will apply to the body of the html doc*/
{
    background-color: #ccc;
    font-family: Helvetica, sans-serif;
    color: #222;
    margin-top: 100px; /*brings sown the avatar pic so it can be seen */
}

img
{
    width: 100%; /*all images 100% px */
}

h1
{
    margin: 15px 0;
}

h2
{
    margin: 0;
    font-weight: 100;
}

.card
{
    background-color: #f3f3f3;
    border-radius: 15px; /* determine what our rounded corners look like */
    margin: 0 auto; /* easiest way to center the design */
    width: 400px;
    text-align: center; /* moves h1 and h2 to center*/
    box-shadow: rgba(0,0,0, 0.1) 0 10px 10px;
    border: 2px solid #aaa;
}

    .card .avatar /* designing the avatar class*/ 
    {
        box-shadow: rgba(0,0,0, 0.1) 0 10px 10px;
        width: 100px;
        border-radius: 50%;
        margin-top: -50px; /* negative value moves image the opposite direction */
    }

.contacts
{
    margin: 0;
    padding: 0;
    list-style-type: none; /* changes the bullets from the list */
}

.contacts li
{
    width: 30px;
    display: inline-block; /* changes layout of icons from block item to inline block item */
    padding: 20px 10px; /* top-bottom 20, left right 10*/
}

.contacts li a img:hover /*when hovering over contacts it changes the opacity */
{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}